@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&family=Unbounded:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/noteworthy');

html,
body {
  margin: 0;

  scroll-behavior: smooth;

  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-position: left top;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: relative;
}

.footer__image {
  margin-top: 16px;
}

.footer::after {
  content: '';

  position: absolute;
  top: -14px;
  right: 40%;
  z-index: -1;

  transform: rotate(-1deg);

  height: 251px;
  width: 1197px;

  background-color: #3e4137;
}

.footer::before {
  content: '';

  position: absolute;
  top: -4px;
  left: 40%;
  z-index: -1;

  transform: rotate(-1deg);

  height: 202px;
  width: 1174px;

  background-color: #3e4137;
}

.footer__merch {
  position: absolute;
  z-index: 200;
}

@media (max-width: 1200px) {
  .footer::after {
    display: none;
  }

  .footer::before {
    top: -16px;
    left: -161px;
  }
}
