.header {
  background: url('/background.png') left no-repeat white;
  background-size: contain;
}

.carousel {
  background: url('/bg-section-carousel.png') center no-repeat white;
  background-size: cover;
}

.frame__photo {
  position: relative;

  top: 138px;
  left: -52px;

  transform: rotate(-2deg);
}

.frame {
  height: 650px;

  background: url('/frame.png') left no-repeat white;
  background-size: contain;
}

.numbers {
  background: url('/background-2.png') left no-repeat white;
  background-size: cover;
}

.numbers::before {
  content: "";

  position: absolute;
  bottom: -190px;
  left: 50%;
  z-index: 100;

  transform: rotate(1deg);

  width: 1078px;
  height: 206px;

  background-color: #3E4137;
}

.why {
  background: url('/background-3.png') left no-repeat white;
  background-size: cover;
  background-position: right;
}

.why::before {
  content: "";

  position: absolute;
  top: 12px;
  right: -2px;
  left: -2px;

  transform: rotate(1deg);

  height: 206px;

  background-color: #3E4137;
}

.why__scratches {
  position: absolute;

  top: 126px;
  left: -108px;
}