.header {
  background: url('/background.png') left no-repeat white;
  background-size: contain;
}

.carousel {
  background: url('/bg-section-carousel.png') center no-repeat white;
  background-size: cover;
}

.frame__photo {
  position: relative;

  top: 138px;
  left: -52px;

  transform: rotate(-2deg);
}

.frame {
  height: 650px;

  background: url('/frame.png') left no-repeat white;
  background-size: contain;
}

.numbers {
  background: url('/background-2.png') left no-repeat white;
  background-size: cover;
}

.why {
  background: url('/background-3.png') left no-repeat white;
  background-size: cover;
  background-position: right;
}

.why__scratches {
  position: absolute;

  top: 126px;
  left: -108px;
}