.container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 822px;

  background: url('background.png') left no-repeat white;
  background-size: contain;
}

.header__subline {
  line-height: 32.74px;
}

.frame__photo {
  position: relative;

  top: 138px;
  left: -52px;

  transform: rotate(-2deg);
}

.frame {
  height: 650px;

  background: url('frame.png') left no-repeat white;
  background-size: contain;
}
